:root {
    --banner-bg: #000;
    --body-bg: #18191a;
    --white: #e2e2e2;
    --light-white: #a2a3a3;
    --red: #ed462f;
    --green: #11cc9e;
    --blue: #4452fb;
    --dark-blue: #006aff;
    --purple: #b953ff;
    --font-robo: 'Roboto', sans-serif;
    --font-logo: 'Architects Daughter', cursive;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  body {
    background: var(--body-bg);
    color: var(--white);
    font-family: var(--font-robo);
    overflow-x: hidden;
  }
  
  p {
    line-height: 1.6;
  }

  img {
    width: 100%;
  }

  .container {
    max-width: 1700px;
    padding: 0px 40px;
    margin: 0 auto;
  }
  
  .grow {
    transition: all 0.6s ease-in-out;
  }
  
  .grow:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .section-heading {
    color: var(--dark-blue);
    padding: 50px 0px 30px;
    font-size: 50px;
    text-align: center;
  }
  
  .heading {
    font-size: 57px;
    padding-bottom: 0.7rem;
  }
 
  
  nav {
    background: var(--banner-bg);
    height: 90px;
    position: relative;
  }
  
  .nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .nav-links {
    color: var(--white);
    margin-left: 50px;
  }

  .nav-links:hover {
    color: var(--dark-blue);
  }
  
  
  #logo {
    font-family: var(--font-logo);
    font-size: 1.86rem;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    
  }

  .hamburger .ham-bar{
    background-color: white;
    width: 30px;
    height: 3px;
    margin: 3px 0;
    transition: all 0.5s ease;
  }

  .landing-page {
    position: relative;
    width: 100%;
    background: var(--banner-bg);
    padding-top: 75px;
  }
  
  .grid {
    font-family: var(--font-robo);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "text  img";
    grid-gap: 20px;
    padding: 2.7rem 0;
    
  }
  
  .landing-page-intro {
    line-height: 1.2;
  }
  
  .landing-page-intro p{
     color: var(--light-white);
     font-size: 1.1rem;
     padding: 0 0 4rem;
    grid-area: text;
  }
  
  .landing-page-intro .first-line-decor {
    font-size: 1.4rem;
    color: var(--green);
    padding: 1rem 0px;
  }
  
  .btn-primary {
    color: var(--white);
    border-radius: 6px;
    padding: 0.4rem 1rem;
    transition: all 0.2s ease-in-out;
    background: var(--dark-blue);
  }
  
  .btn-primary:hover {
    background: inherit;
    border: 1px solid var(--blue);
  }
  
  /* ABOUT */
  .about-me-text{
    justify-self: flex-end;
  }
    
  .about .grid {
    grid-template-columns: 2fr 3fr;
  }
  
  .about-me-text p{
    padding: 18px 0;
  }
  
  .about-me-text a {
    color: var(--purple);
  }
  
  .about-me-text a:hover {
    border-bottom: 1px solid var(--purple);
  }
  
  .skills-div {
    width: 100%;
    min-width: 350px;
    max-width: 960px;
    padding: 20px;
  }
  
  .skill-name {
  /*   background: red; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
  }
  
  .skill-name h3 {
    font-size: 16px;
    font-weight: 200;
  }
  
  .row {
    padding-bottom: 16px;
  }
  
  .bar {
    display: inline-block;
    background: black;
    height: 10px;
    width: 100%;
    border-radius: 10px;
  }
  
  .bar::before{
    content: '';
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    background: var(--dark-blue);
    position: relative;
    top: -4px;
    animation-name: slide-in;
    animation-duration: 3s;
  }
  
  .bar.html::before {
    width: 96%;
  }
  
  .bar.css::before {
    width: 86%;
  }
  
  .bar.js::before {
    width: 79%;
  }
  
  .bar.rjs::before {
    width: 29%;
  }
  
  @keyframes slide-in {
    from {
      width: 0%;
    }
  }

  /* Projects */
  .projects {
    padding: 40px 0px;
  }

  .card {
    max-width: 450px;
    background: black;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.582),
                -10px -10px 16px rgba(0, 0, 0, 0.582);
  }

  .grid-row {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0px;
  }

  .description {
    padding: 40px;
    text-align: center;
  }

  .description h3 {
    color: var(--blue);
    padding: 20px 0;
    
  }

  .description p {
    padding: 10px 0 20px;
  }



  /* footer */
  
  footer {
    padding: 0px 10px 80px;
    background: var(--banner-bg);
    text-align: center;
  }
  
  footer .email{
    text-align: center;
    padding: 10px 4px 80px;
  }
  
  .socials a {
    margin: 10px;
  }

  @media screen and (max-width: 912px) {
    .nav-list{
      position: absolute;
      top: 90px;
      right: -100%;
      opacity: 0;
      z-index: 1000;
      width: 100%;
      display: block;
      grid-template-columns: auto;
      background-color: rgba(0, 0, 0, 0.774);
      transition: all 0.5s ease-in-out;
    }

    .nav-links {
      text-align: center;
      line-height: 60px;
      display: table;
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
      transition: all 0.2s ease-in-out;
    }

    .nav-links:hover {
      background-color: var(--blue);
      color: white;
    }

    .nav-links.btn-primary:hover {
      color: white;
    }

    .nav-list.active {
      opacity: 1;
      right: 0;
    }
    

    .hamburger {
      display: flex;
    }

    .hamburger.menu-open .ham-bar:nth-child(1){
      transform: rotate(45deg) translate(6px, 6px);
    }

    .hamburger.menu-open .ham-bar:nth-child(2){
      opacity: 0;
    }

    .hamburger.menu-open .ham-bar:nth-child(3){
      transform: rotate(-45deg) translate(6px, -6px);
      
    }

    .landing-page {
      position: relative;
      width: 100%;
      background: var(--banner-bg);
      padding: 75px 0;
    }

    .grid {
      display: flex;
      flex-direction: column;
      padding: 2.7rem 0;
    }
  }

  @media screen and (max-width: 720px) {
    #logo {
      font-size: 27px;
    }

    .container {
      padding: 0 25px;
    }

    .heading {
      font-size: 35px;
    }

    .skills-div {
      padding: 0;
    }
  }